<?xml version="1.0" encoding="utf-8"?>

<launch>




  <!-- Name of the actuated lidar master -->
  <arg name="name" default="multisense"/>
  <!-- ID of the fixed frame -->
  <arg name="fixed_frame_id" default="odom"/>
  <!-- ID of the robot frame -->
  <arg name="robot_frame_id" default="base_link"/>


  <!-- Scan to point cloud -->
  <node ns="$(arg name)" name="scan_to_pointcloud" pkg="scan_to_pointcloud" type="scan_to_pointcloud_node">
    <rosparam command="load"                   file="$(find husky_drs)/config/husky_scan_to_pointcloud.yaml"/>
    <param name="target_frame_id"              value="$(arg fixed_frame_id)"/>
    <param name="subscribers/scan/topic"       value="/$(arg name)/lidar_scan"/>
    <param name="publishers/point_cloud/topic" value="/$(arg name)/point_cloud_scan"/>
    <param name="use_deque_buffer" value="false"/>
  </node>


  <!-- Single scan filter -->
  <include file="$(find husky_drs)/launch/husky_point_cloud_filter.launch">
    <arg name="namespace"      value="/$(arg name)/point_cloud_scan_filter"/>
    <arg name="input_topic"    value="/$(arg name)/point_cloud_scan"/>
    <arg name="output_topic"   value="/$(arg name)/point_cloud_scan_filtered"/>
    <arg name="robot_frame_id" value="$(arg robot_frame_id)"/>
  </include>



<!--
  <include file="$(find scan_to_pointcloud)/launch/scan_to_pointcloud.launch">
    <arg name="namespace"       value="$(arg name)"/>
    <arg name="target_frame_id" value="$(arg fixed_frame_id)"/>
    <arg name="input"           value="/$(arg name)/lidar_scan"/>
    <arg name="output"          value="/$(arg name)/point_cloud_scan"/>
  </include>
-->
</launch>